<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="ajouterCompetition.php">
<table>
    <caption>Ajouter Competition</caption>
    <tr>
        <td>Nom de la competition</td>
        <td><input type="text" name="nom"></td>
    </tr>
    <tr>
        <td>Nom de complexe sprtif</td>
        <td><input type="text" name="complexe"></td>
    </tr>
    <tr>
        <td>Heure</td>
        <td><input type="time"></td>
    </tr>
    <tr>
        <td>Date</td>
        <td><input type="date"></td>
    </tr>
    <tr>
        <td>Cout</td>
        <td><select name="cout">
         <option value="1000">1000</option>
            <option value="2000">1000</option>
        </select></td>
    </tr>
    <tr>
        <td>Type</td>
        <td><select name="type">
            <option value="Natonal">National</option>
            <option value="international">internationel</option>
        </select></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="ajouter"></td>
    </tr>
</table>
</form>

</body>
</html>