<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form method="POST" action="ajouterCompte.php">
     <table>
         <tr>
             <td>numCompte</td>
             <td><input type="number" name="numCompte"></td>
         </tr>
         <tr>
             <td>solde</td>
             <td><input type="number" name="solde"></td>
         </tr>
         <tr>
             <td>type</td>
             <td><select name="type">
                 <option value="CC">CC</option>
                 <option value="CE">CE</option>
             </select></td>
         </tr>
         <tr>
             <td><input type="submit"></td>
         </tr>

     </table>
 </form>
</body>
</html>